@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: 'Open Sans', sans-serif;
}

body {
    color: #262626;
}

.co-container {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 1441px) {
    .co-container {
        max-width: 1420px;
    }
}

[type=checkbox]{
    box-sizing: border-box;
    padding: 0;
}
input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.faq-item-content {
    max-height: 0;
    transition: all 0.35s;
}

/*xcx {*/
/*    transition: all 0.35s;*/
/*}*/


/*input[type="checkbox"]:checked .close-faq{*/
/*    display: block;*/
/*}*/


/*input[type="checkbox"]:checked .open-faq{*/
/*    display: none;*/
/*}*/

input[type="checkbox"]:checked ~ .faq-item-content {
    max-height: 100vh;
    /*color: green;*/
    padding-top: 20px;
}
.faq-item-content {
    /*transition: all 3s ease-in;*/
}
/*input:checked + label {*/
/*    color: red;*/
/*}*/

@layer components {
    .btn {
        @apply flex flex-row justify-between items-center rounded-full w-full max-w-[350px] h-60p lg:h-78p lg:w-350p text-co-button-mo lg:text-co-button px-38p pt-17p pb-18p lg:px-50p lg:pt-22p lg:pb-6;
    }

    .btn:hover {
        @apply border-2  border-solid shadow-[9px_9px_0px];
    }

    .btn-animation {
        transition: all .15s ease-in-out;
    }

    .btn-animation svg {
        animation: shake-out 1s;
        animation-fill-mode: forwards;
    }

    .btn-animation:hover svg {
        animation: shake-in 1s;
        animation-fill-mode: forwards;
    }
}

@keyframes shake-out {
    0% { transform: rotate(0deg); }
    10% { transform: rotate(-25deg); }

    35% { transform: rotate(25deg); }

    40% { transform: rotate(-10deg); }
    60% { transform: rotate(10deg); }

    100% { transform: rotate(0deg); }
}

@keyframes shake-in {
    0% { transform: rotate(90deg); }

    30% { transform: rotate(125deg); }
    40% { transform: rotate(55deg); }

    55% { transform: rotate(105deg); }
    65% { transform: rotate(75deg); }

    100% { transform: rotate(90deg); }
}

.box {
    position: relative;
    overflow: hidden;
}

.box::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #262626;
    transform: scale3d(1, 0, 1);
    transform-origin: center bottom;
    transition: transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    z-index: -1;
    
}

.box:hover::before {
    transform: scale3d(1, 1, 1);
    background-color: #262626;
}
